  <!-- <script src="/javascripts/jquery-3.3.1.slim.min.js"></script> -->
	<!-- <script src="/javascripts/popper.min.js"></script> -->
	<script src="/javascripts/bootstrap.min.js"></script>
</body> 
</html>