html, body{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

header{
  width: 100%;
  height: 15%;
  padding-top: 25px;
  background-color: #dcdcdc;
  box-sizing: border-box;
}

header h1{
  text-align: center;
  margin: 0;
}

.containers{
  position: relative;
  height: 85%;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  background-color: #97804f;
}

.score-containers{
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  color: white;
}

#score{
  position: absolute;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.user{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 15px;
  font-size: 15px;
  padding: 2px 10px;
  box-sizing: border-box;
}

.com{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 40px;
  height: 15px;
  font-size: 15px;
  padding: 2px 10px;
  box-sizing: border-box;
}

.buttons{
  width: 280px;
  position: absolute;
  top: 20%; 
  left: 50%;
  transform: translateX(-50%);
}

.bn{
  width: 80px;
  height: 80px;
  margin :5px;
  border: 1px solid #97804f;
  border-radius: 50%;
  font-size: 40px;
  background-color: #97804f;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

.bn2{
  width: 40px;
  height: 40px;
  margin :5px;
  border: 3px solid #00fa9a;
  border-radius: 50%;
  font-size: 40px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

.bn:hover{
  background-color: #00fa9a;
  border-color: white;
  color: white;
}

#challenge{
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  width: 540px;
  height: 40%;
  display: none;
}

#you{
  position: relative;
  width: 37.5%;
  font-size: 50px;
}

#com{
  position: relative;
  width: 37.5%;
  font-size: 50px;
}

#YourObject{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  font-size: 50px;
  padding-top: 20px;
  border: 3px solid #00fa9a;
  border-radius: 50%;
  color: #00fa9a;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

#ComObject{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  font-size: 50px;
  padding-top: 20px;
  border: 3px solid #00fa9a;
  border-radius: 50%;
  color: #00fa9a;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

#result{
  position: relative;
  width: 25%;
}

#result p{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.who{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 30px;
}

.green{
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 3px solid green;
  box-shadow: 0 0 10px green;
  border-radius: 50%;
  color: #00fa9a;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

.red{
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 3px solid red;
  box-shadow: 0 0 10px red;
  border-radius: 50%;
  color: #00fa9a;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

.gray{
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 3px solid #292928;
  box-shadow: 0 0 10px #292928;
  border-radius: 50%;
  color: #00fa9a;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: .3s;
}