<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playing Page</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/bootstrap.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="alert alert-primary pb-4" role="alert">
        Wellcome <b><%= username %></b>, Please choose the room <% if(access ==
        "admin"){ %>
        <span class="float-right"
          ><a href="/game" class="btn btn-primary btn-sm"
            >Access Database</a
          ></span
        >
        <% } %>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="card" style="width: 18rem">
            <a href="" class="disabled">
              <img
                src="/images/room-image.jpg"
                class="card-img-top"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">Room #1</h5>
              <p class="card-text">
                Number of players = 2 <b class="text-danger">(FULL)</b>
              </p>
              <a href="#" class="btn btn-primary disabled">Join</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card" style="width: 18rem">
            <a href="">
              <img
                src="/images/room-image.jpg"
                class="card-img-top"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">Room #2</h5>
              <p class="card-text">Number of players = 0</p>
              <a href="/gameWait" class="btn btn-primary">Join</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card" style="width: 18rem">
            <a href="" class="disabled">
              <img
                src="/images/room-image.jpg"
                class="card-img-top"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">Room #3</h5>
              <p class="card-text">
                Number of players = 2 <b class="text-danger">(FULL)</b>
              </p>
              <a href="#" class="btn btn-primary disabled">Join</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card" style="width: 18rem">
            <a href="">
              <img
                src="/images/room-image.jpg"
                class="card-img-top"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">Room #4</h5>
              <p class="card-text">Number of players = 1</p>
              <a href="/playing" class="btn btn-primary">Join</a>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-primary mt-4" role="alert">
        <a
          href="/logout"
          class="btn btn-danger btn-sm"
          onclick="return confirm('Are you sure, want to quit?')"
          >Logout</a
        >
      </div>
    </div>

    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
