<!DOCTYPE html>
<html>
  <%- include("partials/head"); -%>
  <body>
    <%- include("partials/navbar"); -%>
    <div class="container m-4">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi hic
        expedita saepe officiis, velit delectus esse deserunt adipisci laborum
        dolor consequatur atque eveniet numquam a. Quis placeat eveniet beatae
        nemo!
      </p>
    </div>
  </body>
</html>
