<%- include("../partials/head"); -%>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="h3 mb-2 mt-4 text-gray-800">Form Tambah User</h1>
        <div class="card shadow mb-4">
          <div class="card-body">
            <form method="post" action="/userCreate">
              <div class="form-group">
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  placeholder="Input username"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="password"
                  class="form-control"
                  placeholder="Input password"
                  required
                />
              </div>
              <div class="form-group">
                <select name="access" class="form-control" id="" required>
                  <option value="">--Select Access--</option>
                  <option value="admin">Admin</option>
                  <option value="player">Player</option>
                </select>
              </div>
              <div class="form-group">
                <a href="/game" class="btn btn-warning">Batal</a>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../partials/footer"); -%>
</body>
