<%- include("../partials/head"); -%>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-4">
        <div class="alert alert-danger" role="alert">
          User data deleted successfully!
        </div>
        <div>
          <a class="btn btn-primary" href="/game" role="button"
            >Back to user data</a
          >
        </div>
      </div>
    </div>
  </div>

  <%- include("../partials/footer"); -%>
</body>
