<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />

    <title>Game Page</title>
    <style>
      .game {
        /* color: #303030; */
        background-image: url("/images/logo.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        color: antiquewhite;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid game">
      <div class="container">
        <h1 class="display-4" style="color: grey">Welcome <%= username %>!</h1>
        <p class="lead" style="color: grey">
          Welcome to game <b> Rock-Paper-Scissor </b>.
        </p>
        <a href="/play" class="btn btn-primary btn-sm">Back to room</a>
      </div>
    </div>

    <!-- <header class="header">
    <a href="" style="float: left; margin-left: 10%;"><img class="bn2" src="/images/refresh.png" alt="" width="30px"></a>
    <h1>Rock Paper Scissors Game</h1>
    <a href="/play" class="btn btn-primary pl-4 pr-" style="margin-top: -75px;">Home</a>
  </header> -->
    <div class="containers">
      <div class="score-containers">
        <span class="user"><%= username %></span>
        <span id="score"></span>
        <span class="com">PLAYER2</span>
      </div>
      <div class="buttons">
        <button id="rock" class="bn" onclick="game(this.value)" value="rock">
          <img src="/images/batu.png" alt="" width="50px" />
        </button>
        <button id="paper" class="bn" onclick="game(this.value)" value="paper">
          <img src="/images/kertas.png" alt="" width="30px" />
        </button>
        <button
          id="scissors"
          class="bn"
          onclick="game(this.value)"
          value="scissors"
        >
          <img src="/images/gunting.png" alt="" width="30px" />
        </button>
      </div>

      <div id="challenge">
        <div id="you">
          <div id="YourObject"></div>
          <div class="who"><%= username %></div>
        </div>
        <div id="result">
          <p id="who"></p>
          <p></p>
        </div>
        <div id="com">
          <div id="ComObject"></div>
          <div class="who">Player2</div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/script.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  --></body>
</html>
